.logo-wrapper
  a(href="/#home")
    img(src="images/logo.png")

nav#main-nav
  .spinner.hide
    .bounce1
    .bounce2
    .bounce3

  ul
    li
      a.nav-home(href="#home") News
    li
      a.nav-players(href="#players") Players
    li
      a.nav-club(href="#club") Club
